.caption-window,
.ytp-caption-window-container .ytp-caption-segment {
  cursor: pointer;
  user-select: text !important;
}

.ytp-caption-window-container .ytp-caption-segment:hover {
  color: red !important;
  background-color: yellow !important;
}

.ytp-caption-window-container {
    user-select: text !important;
}
